/*Solve the problem of "How to prevent horizontal scrolling on responsive webpage?"*/

body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

strong{
    font-weight:bold !important;
   }

b{
    font-weight: bold !important;
}

@font-face {
    font-family: 'Alibaba PuHuiTi';
    src: url('../fonts/Alibaba-PuHuiTi-Regular.eot');
    src:local('Alibaba PuHuiTi'), local('Alibaba-PuHuiTi-Regular'),
        url('../fonts/Alibaba-PuHuiTi-Regular.eot') format('embedded-opentype'),
        url('../fonts/Alibaba-PuHuiTi-Regular.woff') format('woff'),
        url('../fonts/Alibaba-PuHuiTi-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
/*Solution Ends*/

button {
    border-radius: 4px;
    background-color: #0e0e0e;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 350px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}




/* footer */

footer {
    margin: 0 auto;
}

.contact {
    height: 160px;
    top: 93vh;
    right: 2em;
    position: fixed;
    font-size: 14px;
    color: black;
    z-index: 10;
}


/*About Me*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

.row {
    margin: 0 auto;
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    clear: both;
}


/* article */

article {
    margin: 1em auto;
    text-align: left;
}

blockquote {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 25px;
}

.content1 {
    font-size: 19px;
    line-height: 50px;
    margin: 0;
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative'，'STHeiti',  'Microsoft YaHei';
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 68px;
    line-height: 75px;
    margin: 0px 0px 0.37em 0px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', 'Enriqueta', 'Kreon', 'Signika Negative','Alibaba PuHuiTi', 'Microsoft YaHei';
    font-weight: 700;
}


/*h2 {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 1em 0;
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative'，'STHeiti',  'Microsoft YaHei';
    font-weight: 700;
    font-weight: 400;
    font-style: normal;
}*/
h2{
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 0.5em 0px;
    font-family: 'Poppins', 'Enriqueta', 'Kreon', 'Signika Negative', 'Alibaba PuHuiTi',  'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 28px;
    line-height: 50px;
    margin: 2em 0 0 0;
    font-family: 'Poppins', 'Enriqueta', 'Kreon', 'Signika Negative'，'STHeiti', 'Microsoft YaHei';
    font-weight: 700;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 0.5em 0px;
    font-family: 'Poppins','Enriqueta', 'Kreon', 'Signika Negative', 'Alibaba PuHuiTi', 'STHeiti',  'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
}

h5 {
    color: #21272d;
    margin: 2em 0px;
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative','STHeiti', 'Microsoft YaHei';
    font-weight: 700;
    font-weight: 400;
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 2em;
    line-height: 2em;
}

h6 {
    font-size: 42px;
    line-height: 50px;
    margin: 0px 0px 0.5em 0px;
    font-family: 'Poppins', 'Enriqueta', 'Kreon', 'Signika Negative', 'STHeiti', 'Microsoft YaHei';
    font-weight: 700;
    font-style: normal;
}

p {
    margin: 2em 0px;
    font-family: 'Roboto','Helvetica', 'Enriqueta', 'Kreon', 'Signika Negative', 'Alibaba PuHuiTi',' SimSun Regular', 'Microsoft YaHei';
    font-style: normal;
    font-size: 18px;
    line-height: 36px;
}

p.intro {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 1.5em 0px;
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative', 'STHeiti Regular', 'Microsoft YaHei';
    font-weight: 300;
    font-style: normal;
}

p.label {
    margin: 3em 0% 3em 0%;
    border-style: solid;
    border-color: rgba(51, 51, 51, 0.87);
    text-align: center;
    padding: 25px 3% 25px 3%;
    font-size: 28px;
    color: rgba(51, 51, 51, 1);
    border-width: 3px 0px;
    font-family: "Quattrocento Sans";
    font-weight: 400;
    font-style: normal;
}

blockquote.pull-quote {
    margin: 0em 1em 1em 0em;
    border-left: 3px solid #ccc;
    padding: 0em 0em 0em 0.7em;
    font-family: "Merriwheather";
}

blockquote.pull-quote-noline {
    margin: 0em 1em 1em 0em;
    padding: 0em 0em 0em 0.7em;
    border-left-style: none;
}

p.quote {
    font-size: 0.8em;
    line-height: 1.6em;
    font-style: italic;
    color: #666666;
    margin: 0px;
    font-family: "Merriweather";
    font-weight: 300;
}

p.HMW {
    margin: 0px;
}

.icon {
    max-height: 24px;
    max-width: 24px;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

p.author-byline {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 1.5em 0px;
}

em.emphasis {
    font-style: italic;
}

small.small {
    font-size: 80%;
}


b {
    font-weight: 700;
    /*font-style: italic;*/
}

p.intro-paragraph {
    text-align: center;
    font-size: 27px;
    line-height: 39px;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    padding: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-color: rgba(204, 204, 204, 1);
    font-family: "Merriweather";
    font-weight: 300;
    font-style: italic;
}

img {
    position: relative;
    z-index: 1;
}

img.wide {
    max-width: 100%;
    width: 453px;
}

img.standard {
    max-width: 100%;
    width: 289px;
}

img.square {
    max-width: 100%;
    width: 192px;
}

img.browser-screenshot {
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    z-index: 2;
    position: relative;
    margin: 0 0 2em;
}

img.mobile-screenshot {
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    z-index: 2;
    position: relative;
    width: 375px;
}

img.center {
    display: block;
    margin: 0 auto;
}

div.testimonial {
    margin: 0 auto 1em auto;
    width: auto;
    text-align: center;
}

img.testimonial-avatar {
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    max-width: 100%;
    width: 150px;
    border-radius: 50%;
    /*margin: 4em 0 1em;*/
}

img.avatar-bottom {
    margin: 0 0 3em;
    width: 80px;
}

img.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}




/*Annotation End*/




span.dropcap {
    float: left;
    color: #333333;
    font-size: 89px;
    line-height: 60px;
    padding: 8px 12px 0px 3px;
}

div.image-media:before {
    content: "";
    display: table;
}

div.image-media:after {
    content: "";
    display: table;
    clear: both;
}

div.image-media {
    width: auto;
    text-align: left;
    margin: 0 auto;
}

img.image-media-left {
    max-width: 100%;
    float: left;
    width: 150px;
    margin: 0 1em 1em 0;
}

img.testimonial-center {
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    max-width: 100%;
    width: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}

div.three-col-gallery:before {
    content: "";
    display: table;
}

div.three-col-gallery:after {
    content: "";
    display: table;
    clear: both;
}

div.three-col-gallery {
    width: auto;
    text-align: center;
    margin: 0 auto;
}

img.three-col-img {
    width: 30%;
    float: left;
    margin: 1.666%;
}

img {
    max-width: 100%;
}

p.caption {
    margin: 0.5em 0px 3em 0px;
    font-size: 15px;
    line-height: 23.89px;
    text-align: center;
    color: rgba(158, 158, 158, 1);
}

.section {
    display: flex;
    align-items: center;
    max-height: 100vh;
}

section.slice {
    text-align: center;
    margin: 0;
    padding: 3%;
    width: auto;
}

section.slice:before {
    content: "";
    display: table;
}

section.slice:after {
    content: "";
    display: table;
    clear: both;
}

g {
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative';
    font-weight: 400;
    font-style: normal;
}



.menu {
    font-family: "Julius Sans One";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
}


/* footer */

.readnext {
    text-align: center;
    background-color: rgb(126, 126, 126);
    color: #fff;
    padding: 5% 0;
    margin-top: 60px;
    z-index: 1;
    position: relative;
}

#readnext-ai {
    background: url("https://images.unsplash.com/photo-1477244075012-5cc28286e465?dpr=2&auto=format&fit=crop&w=767&h=1151&q=80&cs=tinysrgb&crop=") no-repeat center;
}

#readnext-ng {
    background: url("https://images.unsplash.com/photo-1473229903343-d7903343f6c0?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=") no-repeat center fixed;
}

#readnext-tb {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), black url("https://images.unsplash.com/photo-1494707924465-e1426acb48cb?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center fixed;
    color: #000;
}

#readnext-sunban {
    background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("https://images.unsplash.com/photo-1472586662442-3eec04b9dbda?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=") no-repeat center;
}

#readnext-mindfulness {}

.readnext>h3 {
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative';
    font-size: 31.5px;
}

.readnext>h4 {
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative';
}

.readnext>h6 {
    font-family: 'Enriqueta', 'Kreon', 'Signika Negative';
}




img {
    max-width: 100%;
    /*width: 100%;*/
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




@media screen and (max-width: 768px) {
    /* hamburger-menu */
    .hamburger-menu {
        display: block;
    }
    .menu-logo {
        display: none;
    }
    nav.menu-nav-hz {
        right: 0px;
        display: none;
    }
    li.menu-hz-li {
        display: block;
        text-align: right;
        padding: 3px 0px;
    }
    .contact {
        right: 10px;
    }
    li.current.playground-menu {
        border-bottom: 1px solid #f3f3f3;
    }
    /*responsive font*/
    h1 {
        font-size: 51px;
        line-height: 56px;
    }
    h2 {
        font-size: 31.5px;
        line-height: 37.5px;
    }
    h3 {
        font-size: 21px;
        line-height: 37.5px;
    }
    h4 {
        font-size: 15px;
        line-height: 23px;
    }
    p {
        font-size: 14px;
        line-height: 28px;
    }
    p.intro {
        font-size: 15px;
        line-height: 22px;
    }
    p.label {
        font-size: 14px;
    }
    p.quote {
        font-size: 0.6em;
        line-height: 1.4em;
    }
    li {
        font-size: 14px;
        line-height: 27px;
    }
}

@media screen and (min-width: 768px) {
    .menu-nav-hz {
        display: block;
    }
}

.logo {
    top: 2em;
    left: 2em;
    position: fixed;
    z-index: 10;
}

.logo>a>img {
    width: 20%;
}

.video-container {
    padding-bottom: 120px;
    padding-top: 20px;
}


/*background image*/

#hmw1-1 {
    padding-left: 0;
    padding-right: 0;
    background: url(../images/siri/hmw1-1.png);
    background-size: cover;
    height: 920px;
}


/*my navbar*/

.codepen li {
    margin: 20px;
    color: black;
    font: 20pt 'Poppins',"Kreon", 'Signika' !important;
    font-weight: 700 !important;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}

#menu li {
    width: 230px;
    text-indent: 56px;
}

#menu a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}

#trigger,
#burger,
#burger:before,
#burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: black;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}

#trigger {
    height: 25px;
    background: none;
}

#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}

#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}

#menu-toggle:checked+#trigger+#burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked+#trigger+#burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}

#menu-toggle:checked+#trigger+#burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}

#menu {
    position: relative;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 50px;
    /*background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;*/
}

#menu-toggle:checked+#trigger+#burger+#menu {
    animation: checked-anim 1s ease both;
}

#menu-toggle:checked+#trigger~#menu>li,
a {
    display: block;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}