 .wallpaper {
     margin-top: 0;
     padding: 50px;
     background: url(../images/Megalo.jpg);
     background-size: cover;
 }
 
 .box {
     width: 450px;
     padding: 50px;
     text-align: center;
     margin: auto;
     margin-top: 9%;
     color: black;
     border-style: none;
     font-family: 'Century Gothic', sans-serif;
 }
 
 .container {
     width: 2000px;
     margin: 0 auto;
     background: white;
     font-size: 24px;
     padding: 25px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 }
 
 .container1 {
     padding-top: 25px;
     padding-bottom: 25px;
     max-width: 818;
     max-height: 717;
 }
 
 .parallax {
     min-height: 400px;
     width: 1300;
     background: transparent;
 }
 
 #about {
     text-align: center;
     z-index: 99;
     color: #ffffff;
     font-size: 10vw;
 }
 
 #project1 {
     text-align: center;
     z-index: 2;
     color: #ffffff;
     font-size: 10vw;
 }
 
 .test {
     z-index: 99;
     text-align: center;
     margin: auto;
     color: rgb(255, 255, 255);
     font-size: 400%;
 }
 
 .test1 {
     z-index: 99;
     text-align: center;
     margin: auto;
     color: rgb(255, 255, 255);
     font-size: 400%;
 }
 
 .test2 {
     z-index: 99;
     text-align: center;
     margin: auto;
     color: rgb(255, 255, 255);
     font-size: 400%;
 }
 
 .box-img {
     border-radius: 50%;
     width: 120px;
     height: 120px;
 }
 
 .box h1 {
     font-size: 40px;
     letter-spacing: 4px;
     font-weight: 100;
 }
 
 .box h5 {
     font-size: 20px;
     letter-spacing: 3px;
     font-weight: 100;
 }
 
 .box p {
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }
 
 ul {
     margin: 0;
     padding: 0;
 }
 
 .box #intro {
     margin-top: 20%;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .box li {
     display: inline-block;
     margin: 6px;
     list-style: none;
 }
 
 .box li a {
     color: rgb(221, 38, 130);
     text-decoration: none;
     font-size: 40px;
     transition: all ease-in-out 250ms;
 }
 
 .box li a:hover {
     color: #b9b9b9;
 }