.wallpaper {
    margin-top: 0;
    padding: 100px;
    background: url(../images/Dexcom-G6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 63% 65%;
    display: block;
}

.box {
    width: 450px;
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: black;
    border-style: none;
    font-family: 'Signika', 'Century Gothic', sans-serif;
}

.container {
    width: 2000px;
    margin: 5% 30px;
    background: white;
    font-size: 24px;
    padding: 25px;
    /*font-family: 'Russo One', sans-serif;
        font-family: 'Paytone One', sans-serif;
        font-family: 'Hammersmith One', sans-serif;*/
    font-family: 'Kreon', 'sans-serif';
    /*font-family: 'Signika';*/
}

.row {
    width: 2000px;
    margin: 5% 30px;
    background: white;
    font-size: 24px;
    padding: 25px;
    /*font-family: 'Russo One', sans-serif;
        font-family: 'Paytone One', sans-serif;
        font-family: 'Hammersmith One', sans-serif;*/
    font-family: 'Kreon', 'sans-serif';
    /*font-family: 'Signika';*/
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.container1 {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 818;
    max-height: 717;
}

.parallax {
    min-height: 250px;
    width: 1000;
    background: transparent;
}

#about {
    text-align: center;
    z-index: 99;
    color: #ffffff;
    font-size: 10vw;
}

.test {
    z-index: 99;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

.test1 {
    z-index: 99;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

.test2 {
    z-index: 99;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

.box-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h4 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 5% 5%;
    font-family: 'Signika Negative';
}

.box p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    margin: 0;
    padding: 0;
}

.box #intro {
    margin-top: 20%;
    font-family: 'Kreon', 'Signika Negative', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: rgb(251, 251, 5);
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

.onhover {
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.onhover .work {
    position: relative;
    background: #ff0;
    width: 300px;
    height: 300px;
    margin: 50px;
    box-sizing: border-box;
    display: inline-block;
}

.container .works .imgs {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    max-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 7px 7px 5px #ccc;
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.container .works #imgss {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 325px;
    max-height: 335px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 7px 7px 5px #ccc;
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.container .works #imgsss {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    max-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 7px 7px 5px #ccc;
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.container .works #imgssss {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.onhover .work .imgBox {
    position: relative;
    overflow: hidden;
}

.onhover .work .imgBox .img {
    transition: transform 2s;
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.onhover .work:hover .imgBox img {
    transform: scale(1.2);
}

.members a img {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    max-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

button {
    border-radius: 4px;
    background-color: #0e0e0e;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}

.contact {
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
}

.contact a {
    background: linear-gradient( to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    font-family: 'Kreon', sans-serif;
}

 :root {
    --mainColor: #ff9800;
}

.contact {
    font-family: 'Kreon';
}

.contact a:hover {
    background: none;
    color: red;
    font-family: 'Creepster', cursive;
    font-size: 1.2em;
    letter-spacing: 3px;
    line-height: .75em;
}

.background p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
}

.background p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.wrapper {
    display: table;
    width: 100%;
    height: 50%;
    position: relative;
}

canvas {
    position: relative;
    height: 100%;
    top: 0;
    width: 100%;
}

.introduction-canvas--overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: linear-gradient(to right bottom, rgba(41, 8, 48, 0.95) 0, rgba(82, 65, 143, 0.95) 50%, rgba(114, 183, 227, 0.95) 100%);
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    position: absolute;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 200px;
    line-height: 200px;
    top: 50%;
    margin-top: -100px;
    z-index: 1001;
    font-size: 32px;
    letter-spacing: 0.2em;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container1 {
    width: 100%;
    position: absolute;
    top: auto;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

h1 {
    font-weight: 300;
}

h3 {
    color: #eee;
    font-weight: 100;
}

h5 {
    color: #eee;
    font-weight: 300;
}

a,
a:hover {
    text-decoration: none;
    color: #ddd;
}