@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.wallpaper {
    margin-top: 0;
    padding: 100px;
    background: url(../images/ballonArt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 63% 65%;
    display: block;
}

.box {
    width: 450px;
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: black;
    border-style: none;
    font-family: 'Signika', 'Century Gothic', sans-serif;
}

.container {
    width: 2000px;
    margin: 5% 30px;
    background: white;
    font-size: 24px;
    padding: 25px;
    /*font-family: 'Russo One', sans-serif;
        font-family: 'Paytone One', sans-serif;
        font-family: 'Hammersmith One', sans-serif;*/
    font-family: 'Kreon', 'sans-serif';
    /*font-family: 'Signika';*/
}

.row {
    width: 2000px;
    margin: 5% 30px;
    background: white;
    font-size: 24px;
    padding: 25px;
    /*font-family: 'Russo One', sans-serif;
        font-family: 'Paytone One', sans-serif;
        font-family: 'Hammersmith One', sans-serif;*/
    font-family: 'Kreon', 'sans-serif';
    /*font-family: 'Signika';*/
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.container1 {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 818;
    max-height: 717;
}

.parallax {
    min-height: 250px;
    width: 1000;
    background: transparent;
}

#about {
    text-align: center;
    z-index: 99;
    color: #ffffff;
    font-size: 10vw;
}

.test {
    z-index: 99;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

.test1 {
    z-index: 99;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

.test2 {
    z-index: 99;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

.box-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h4 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 5% 5%;
    font-family: 'Signika Negative';
}

.box p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    margin: 0;
    padding: 0;
}

.box #intro {
    margin-top: 20%;
    font-family: 'Kreon', 'Signika Negative', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: rgb(251, 251, 5);
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

.onhover {
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.onhover .work {
    position: relative;
    background: #ff0;
    width: 300px;
    height: 300px;
    margin: 50px;
    box-sizing: border-box;
    display: inline-block;
}

.container .works .imgs {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    max-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 7px 7px 5px #ccc;
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.container .works #imgss {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 325px;
    max-height: 335px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 7px 7px 5px #ccc;
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.container .works #imgsss {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    max-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 7px 7px 5px #ccc;
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.container .works #imgssss {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.onhover .work .imgBox {
    position: relative;
    overflow: hidden;
}

.onhover .work .imgBox .img {
    transition: transform 2s;
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.onhover .work:hover .imgBox img {
    transform: scale(1.2);
}

.members a img {
    object-fit: contain;
    transition: transform 2s;
    transform: scale(1);
    position: relative;
    float: left;
    max-width: 300px;
    max-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

button {
    border-radius: 4px;
    background-color: #0e0e0e;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 350px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}

.contact {
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
}

.contact a {
    background: linear-gradient( to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    font-family: 'Kreon', sans-serif;
}

 :root {
    --mainColor: #ff9800;
}

.contact {
    font-family: 'Kreon';
}

.contact a:hover {
    background: none;
    color: red;
    font-family: 'Creepster', cursive;
    font-size: 1.2em;
    letter-spacing: 3px;
    line-height: .75em;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    /*max-width: 1000px;*/
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url(../images/tapride1.png);
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url(../images/linkedln.png);
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url(../images/revitalCover.png);
}

.card--4.card__img,
.card--4 .card__img--hover {
    background-image: url(../images/videoProject.png);
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
    font-size: 15px;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.bigBeau {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Signika', 'Century Gothic', color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradientBG 7s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.beauty {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
}

.beauty h1 {
    /*font-weight: 300;
    font-family: 'Signika', 'Kreon';*/
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.beauty h3 {
    color: #eee;
    font-weight: 100;
}

.beauty h5 {
    color: #eee;
    font-weight: 300;
}

a,
.beauty a:hover {
    text-decoration: none;
    color: #ddd;
}

.con {
    font: 400 1em/1.5 "Signika";
    background: #ffffff;
    color: rgb(255, 255, 255);
    text-align: center;
    bottom: 50%;
}

.con p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgb(255, 255, 255);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    width: 40em;
    margin: 0 0 0 -20em;
    mix-blend-mode: color-dodge;
}

.con span {
    font: 700 4em/1 "Kreon", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    mix-blend-mode: difference;
}


}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    
    100% {
        background-position: 100% 50%;
    }
}
%bars {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 25px;
    background: $menu-icons-color;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: all .3s;
}
@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}

/*Navigation bar*/
.codepen li {
    margin: 75px 0 -55px 0;
    color: black;
    font: 20pt "Kreon", Signika;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
#menu li {
    width: 230px;
    text-indent: 56px;
}
#menu a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}
#trigger,
#burger,
#burger:before,
#burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: black;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked+#trigger+#burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}
#menu-toggle:checked+#trigger+#burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked+#trigger+#burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked+#trigger+#burger+#menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked+#trigger~#menu>li,
a {
    display: block;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}
.scroll {
    /*
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: justify;
    width: 20%;
    height: 20%;*/
    
    position: absolute;
    top: 80%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    box-sizing: border-box;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes move {
    25% {
        opacity: 1;
    }
    
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
    to {
        opacity: 1;
    }
}
.card {
    border-radius: 0 !important;
}